.mask {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 101vh;
  background-color: gray;
  opacity: 0.3;
}

.time {
  display: block;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60vw;
}
